@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  color: white;
  font-family: 'Orbitron', sans-serif;
}

.top-container {
  height: 40vh;
  background-color: red;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  gap: 25px;
}
h3,
p,
ul {
  color: black;
}

.video_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video_wrapper .thumbnails {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  gap: 10px;
}

.qualities_wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.qualities_wrapper p {
  font-weight: bold;
  font-size: 14px;
}

.qualities_wrapper ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  list-style: none;
  padding: 10px;
  text-align: center;
}

.result_wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.channel_info_header {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.qualities_wrapper ul a {
  background-color: rgb(48, 114, 255);
  color: #000;
  margin: 5px 0;
  padding: 20px;
  text-decoration: none;
  transition: 0.2s ease-out;
}
.qualities_wrapper ul a:hover {
  background-color: rgb(0, 255, 149);
  cursor: hand;
  padding: 25px;
  transform: scale(1.05);
  transition: 0.2s ease-out;
}
.img_thumb {
  width: 160px;
}

.bottom-container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

#form {
  width: 600px;
  height: 40vh;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
}

#form h1 {
  font-style: italic;
  text-shadow: 1px 1px darkgray;
}

#form input {
  width: 300px;
  padding: 14px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 1px solid lightgray;
  font-family: inherit;
  outline: none;
  box-shadow: 2px 2px 5px gray;
}

#form button {
  padding: 14px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1px solid lightgray;
  background-color: whitesmoke;
  cursor: pointer;
  font-family: inherit;
  box-shadow: 2px 3px 5px gray;
  transition: 0.3s ease-out;
}

#form button:hover {
  color: white;
  background-color: red;
  border: 1px solid red;
  transform: scale(1.1);
}

#loading {
  display: none;
  font-weight: bold;
  font-size: 18px;
}

.errors {
  width: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  padding: 12px;
  color: red;
  background-color: #ffe6e6;
  border: 1px solid red;
}

.success {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: black;
}

#loading {
  color: #000;
}

#download-btn {
  /* width: fit-content; */
  display: inline-block;
  padding: 12px;
  margin: 10px 0;
  color: white;
  background-color: red;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 2px 2px 5px gray;
  cursor: pointer;
  letter-spacing: 1px;
  font-family: inherit;
  border: 1px solid red;
  transition: 0.3s ease-out;
}

#download-btn:hover {
  color: black;
  background-color: white;
  border: 1px solid lightgray;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .bottom-container {
    width: 90%;
    margin: auto;
  }

  #form,
  .success {
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 480px) {
  #form input {
    width: 50%;
  }
}
